[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"

[packages]
django = "*"
nba-py = {editable = true,git = "https://github.com/larryworm1127/nba_py.git"}
pandas = "*"
jinja2 = "*"
django-heroku = "*"
gunicorn = "*"
requests-cache = "*"
simplejson = "*"
psycopg2-binary = "*"
nba-api = "*"
djangorestframework = "*"
numpy = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
