{% extends 'layout.html' %}

{% block title %}BoxScore{% endblock %}

{% load static %}
{% load filters %}
{% load tags %}

{% block body %}
  <div class="container" id="game-detail">
    <br>
    <div class="row">
      <div class="col-lg-5">
        <h3>{{ summary.GAME_DATE_EST }}</h3>
        <br>
        <table class="table table-sm">
          <thead class="thead-inverse">
            <tr class="bg-primary text-white">
              <th class="text-lg-center">TEAM</th>
              <th class="bg-primary text-lg-center">Q1</th>
              <th class="bg-primary text-lg-center">Q2</th>
              <th class="bg-primary text-lg-center">Q3</th>
              <th class="bg-primary text-lg-center">Q4</th>
              {% for period, data in overtime.items %}
                {% if data.flag %}
                  <th class="bg-primary text-lg-center">OT{{ period }}</th>
                {% endif %}
              {% endfor %}
              <th class="bg-primary text-lg-center">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% if summary.HOME_WON %}
                <th class="text-lg-center">
                  {% with 'images/'|add:summary.HOME_TEAM_ID|add:'.png' as logo_path %}
                    <img class="team-logo-sm-quarter" alt="team-logo" src="{% static logo_path %}">
                  {% endwith %}
                  &nbsp{{ home_team.line_score.TEAM_ABBREVIATION }}
                </th>
              {% else %}
                <td class="text-lg-center">
                  {% with 'images/'|add:summary.HOME_TEAM_ID|add:'.png' as logo_path %}
                    <img class="team-logo-sm-quarter" alt="team-logo" src="{% static logo_path %}">
                  {% endwith %}
                  &nbsp{{ home_team.line_score.TEAM_ABBREVIATION }}
                </td>
              {% endif %}

              {% if home_team.line_score.PTS_QTR1 > away_team.line_score.PTS_QTR1 %}
                <th class="text-lg-center">{{ home_team.line_score.PTS_QTR1 }}</th>
              {% else %}
                <td class="text-lg-center">{{ home_team.line_score.PTS_QTR1 }}</td>
              {% endif %}

              {% if home_team.line_score.PTS_QTR2 > away_team.line_score.PTS_QTR2 %}
                <th class="text-lg-center">{{ home_team.line_score.PTS_QTR2 }}</th>
              {% else %}
                <td class="text-lg-center">{{ home_team.line_score.PTS_QTR2 }}</td>
              {% endif %}

              {% if home_team.line_score.PTS_QTR3 > away_team.line_score.PTS_QTR3 %}
                <th class="text-lg-center">{{ home_team.line_score.PTS_QTR3 }}</th>
              {% else %}
                <td class="text-lg-center">{{ home_team.line_score.PTS_QTR3 }}</td>
              {% endif %}

              {% if home_team.line_score.PTS_QTR4 > away_team.line_score.PTS_QTR4 %}
                <th class="text-lg-center">{{ home_team.line_score.PTS_QTR4 }}</th>
              {% else %}
                <td class="text-lg-center">{{ home_team.line_score.PTS_QTR4 }}</td>
              {% endif %}

              {% for data in overtime.values %}
                {% if data.bool %}
                  <td class="text-lg-center">{{ data.home }}</td>
                {% endif %}
              {% endfor %}

              {% if summary.HOME_WON %}
                <th class="text-lg-center">{{ home_team.line_score.PTS }}</th>
              {% else %}
                <td class="text-lg-center">{{ home_team.line_score.PTS }}</td>
              {% endif %}
            </tr>

            <tr>
              {% if summary.HOME_WON %}
                <td class="text-lg-center">
                  {% with 'images/'|add:summary.VISITOR_TEAM_ID|add:'.png' as logo_path %}
                    <img class="team-logo-sm-quarter" alt="team-logo" src="{% static logo_path %}">
                  {% endwith %}
                  &nbsp{{ away_team.line_score.TEAM_ABBREVIATION }}
                </td>
              {% else %}
                <th class="text-lg-center">
                  {% with 'images/'|add:summary.VISITOR_TEAM_ID|add:'.png' as logo_path %}
                    <img class="team-logo-sm-quarter" alt="team-logo" src="{% static logo_path %}">
                  {% endwith %}
                  &nbsp{{ away_team.line_score.TEAM_ABBREVIATION }}
                </th>
              {% endif %}

              {% if home_team.line_score.PTS_QTR1 > away_team.line_score.PTS_QTR1 %}
                <td class="text-lg-center">{{ away_team.line_score.PTS_QTR1 }}</td>
              {% else %}
                <th class="text-lg-center">{{ away_team.line_score.PTS_QTR1 }}</th>
              {% endif %}

              {% if home_team.line_score.PTS_QTR2 > away_team.line_score.PTS_QTR2 %}
                <td class="text-lg-center">{{ away_team.line_score.PTS_QTR2 }}</td>
              {% else %}
                <th class="text-lg-center">{{ away_team.line_score.PTS_QTR2 }}</th>
              {% endif %}

              {% if home_team.line_score.PTS_QTR3 > away_team.line_score.PTS_QTR3 %}
                <td class="text-lg-center">{{ away_team.line_score.PTS_QTR3 }}</td>
              {% else %}
                <th class="text-lg-center">{{ away_team.line_score.PTS_QTR3 }}</th>
              {% endif %}

              {% if home_team.line_score.PTS_QTR4 > away_team.line_score.PTS_QTR4 %}
                <td class="text-lg-center">{{ away_team.line_score.PTS_QTR4 }}</td>
              {% else %}
                <th class="text-lg-center">{{ away_team.line_score.PTS_QTR4 }}</th>
              {% endif %}

              {% for data in overtime.values %}
                {% if data.bool %}
                  <td class="text-lg-center">{{ data.away }}</td>
                {% endif %}
              {% endfor %}

              {% if summary.HOME_WON %}
                <td class="text-lg-center">{{ away_team.line_score.PTS }}</td>
              {% else %}
                <th class="text-lg-center">{{ away_team.line_score.PTS }}</th>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>

    {# Boxscore Tables #}
    <h4>
      <a class="nounderline dark-grey" href="{% url 'main:teams' summary.HOME_TEAM_ID %}">
        {% with 'images/'|add:summary.HOME_TEAM_ID|add:'.png' as logo_path %}
          <img class="team-logo-sm-boxscore" alt="team-logo" src="{% static logo_path %}">
        {% endwith %}
        &nbsp{{ home_team.team_stats.TEAM_CITY }} {{ home_team.team_stats.TEAM_NAME }}
      </a>
      ({{ home_team.line_score.TEAM_WINS_LOSSES }})
    </h4>
    <table class="table boxscores-datatable table-sm text-lg-center">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          {% for key in home_team.player_stats.0.keys %}
            {% if key == 'PLAYER_NAME' %}
              <th class="text-lg-center">PLAYER</th>
            {% elif forloop.counter0 > 1 and key != 'COMMENT' %}
              <th class="bg-primary text-lg-center">{{ key }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {# Players Data Rows #}
        {% for player in home_team.player_stats %}
          <tr>
            {% for header, stat in player.items %}
              {% if header == 'PLAYER_NAME' %}
                <th>
                  <a class="nounderline" href="{% url 'main:players' player.PLAYER_ID %}">{{ player.PLAYER_NAME }}</a>
                  {% if player.COMMMENT != "" %}
                    <br/>{{ player.COMMENT }}
                  {% endif %}
                </th>
              {% elif forloop.counter0 > 2 and header != 'COMMENT' %}
                <td>{{ stat }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          {% for header, stat in home_team.team_stats.items %}
            {% if forloop.counter0 == 0 %}
              <th>TEAM</th>
            {% elif forloop.counter0 == 1 %}
              <td></td>
            {% elif forloop.counter0 > 2 %}
              <td>{{ stat }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      </tfoot>
    </table>
    <br>

    <h4>
      <a class="nounderline dark-grey" href="{% url 'main:teams' summary.VISITOR_TEAM_ID %}">
        {% with 'images/'|add:summary.VISITOR_TEAM_ID|add:'.png' as logo_path %}
          <img class="team-logo-sm-boxscore" alt="team-logo" src="{% static logo_path %}">
        {% endwith %}
        &nbsp{{ away_team.team_stats.TEAM_CITY }} {{ away_team.team_stats.TEAM_NAME }}
      </a>
      ({{ away_team.line_score.TEAM_WINS_LOSSES }})
    </h4>
    <table class="table boxscores-datatable table-sm text-lg-center">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          {% for key in away_team.player_stats.0.keys %}
            {% if key == 'PLAYER_NAME' %}
              <th class="text-lg-center">PLAYER</th>
            {% elif forloop.counter0 > 1 and key != 'COMMENT' %}
              <th class="bg-primary text-lg-center">{{ key }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {# Players Data Rows #}
        {% for player in away_team.player_stats %}
          <tr>
            {% for header, stat in player.items %}
              {% if header == 'PLAYER_NAME' %}
                <th>
                  <a class="nounderline" href="{% url 'main:players' player.PLAYER_ID %}">{{ player.PLAYER_NAME }}</a>
                  {% if player.COMMMENT != "" %}
                    <br/>{{ player.COMMENT }}
                  {% endif %}
                </th>
              {% elif forloop.counter0 > 2 and header != 'COMMENT' %}
                <td>{{ stat }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          {% for header, stat in away_team.team_stats.items %}
            {% if forloop.counter0 == 0 %}
              <th>TEAM</th>
            {% elif forloop.counter0 == 1 %}
              <td></td>
            {% elif forloop.counter0 > 2 %}
              <td>{{ stat }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      </tfoot>
    </table>
    <br>

    {# Inactive Player Data Rows #}
    <br>
    <div class="row">
      {% if inactive_players|length > 0 %}
        <div class="col-lg-6">
          <h4>Inactive Players</h4>
          <table class="table table-sm">
            <thead class="thead-inverse">
              <tr class="bg-danger text-white">
                <th class="text-lg-center">NAME</th>
                <th class="bg-danger text-lg-center">TEAM</th>
                <th class="bg-danger text-lg-center">JERSEY NUMBER</th>
              </tr>
            </thead>
            <tbody>
              {% for player in inactive_players %}
                <tr>
                  <th>
                    <a class="nounderline dark-grey" href="{% url 'main:players' player.PLAYER_ID %}">
                      {{ player.FIRST_NAME }} {{ player.LAST_NAME }}
                    </a>
                  </th>
                  <td class="text-lg-center">
                    <a class="nounderline dark-grey" href="{% url 'main:teams' player.TEAM_ID %}">
                      {{ player.TEAM_ABBREVIATION }}
                    </a>
                  </td>
                  <td class="text-lg-center">{{ player.JERSEY_NUM }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

    </div>
    <br>
  </div>
{% endblock %}