{% extends 'player_base.html' %}

{% load math_tags %}

{% block content %}

  <h4>Regular Season</h4>
  <table class="player-games-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-warning text-white">
        <th class="text-lg-center">DATE</th>
        <th class="bg-primary text-lg-center">MATCH</th>
        <th class="bg-primary text-lg-center">W/L</th>
        <th class="bg-primary text-lg-center">MIN</th>
        <th class="bg-primary text-lg-center">PTS</th>
        <th class="bg-primary text-lg-center">REB</th>
        <th class="bg-primary text-lg-center">AST</th>
        <th class="bg-primary text-lg-center">FG</th>
        <th class="bg-primary text-lg-center">FG%</th>
        <th class="bg-primary text-lg-center">3P</th>
        <th class="bg-primary text-lg-center">3P%</th>
        <th class="bg-primary text-lg-center">FT</th>
        <th class="bg-primary text-lg-center">FT%</th>
        <th class="bg-primary text-lg-center">OREB</th>
        <th class="bg-primary text-lg-center">DREB</th>
        <th class="bg-primary text-lg-center">STL</th>
        <th class="bg-primary text-lg-center">BLK</th>
        <th class="bg-primary text-lg-center">TOV</th>
        <th class="bg-primary text-lg-center">PF</th>
        <th class="bg-primary text-lg-center">+/-</th>
      </tr>
    </thead>
    <tbody>
      {% for game in player.playergamelog_set.all %}
        <tr>
          <th class="text-lg-center">{{ game.game.game_date }}</th>
          <th class="text-lg-center"><a class="nounderline" href="{% url 'main:boxscore' game.game.game_id %}">{{ game.matchup }}</a></th>
          <td>{{ game.result }}</td>
          <td>{{ game.minutes }}</td>
          <td>{{ game.points }}</td>
          <td>{{ game.rebounds }}</td>
          <td>{{ game.assists }}</td>
          <td>{{ game.fg_made }} - {{ game.fg_attempt }}</td>
          <td>{{ game.fg_percent|multiply:100 }}</td>
          <td>{{ game.fg3_made }} - {{ game.fg3_attempt }}</td>
          <td>{{ game.fg3_percent|multiply:100 }}</td>
          <td>{{ game.ft_made }} - {{ game.ft_attempt }}</td>
          <td>{{ game.ft_percent|multiply:100 }}</td>
          <td>{{ game.offense_reb }}</td>
          <td>{{ game.defense_reb }}</td>
          <td>{{ game.steals }}</td>
          <td>{{ game.blocks }}</td>
          <td>{{ game.turnovers }}</td>
          <td>{{ game.fouls }}</td>
          <td>{{ game.plus_minus }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}