{% extends 'player_base.html' %}

{% load math_tags %}

{% block content %}

  <h4>Regular Season</h4>
  <table class="player-games-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-warning text-white">
        <th class="text-lg-center">DATE</th>
        <th class="bg-primary text-lg-center">MATCH</th>
        <th class="bg-primary text-lg-center">W/L</th>
        <th class="bg-primary text-lg-center">MIN</th>
        <th class="bg-primary text-lg-center">PTS</th>
        <th class="bg-primary text-lg-center">REB</th>
        <th class="bg-primary text-lg-center">AST</th>
        <th class="bg-primary text-lg-center">FG</th>
        <th class="bg-primary text-lg-center">FG%</th>
        <th class="bg-primary text-lg-center">3P</th>
        <th class="bg-primary text-lg-center">3P%</th>
        <th class="bg-primary text-lg-center">FT</th>
        <th class="bg-primary text-lg-center">FT%</th>
        <th class="bg-primary text-lg-center">OREB</th>
        <th class="bg-primary text-lg-center">DREB</th>
        <th class="bg-primary text-lg-center">STL</th>
        <th class="bg-primary text-lg-center">BLK</th>
        <th class="bg-primary text-lg-center">TOV</th>
        <th class="bg-primary text-lg-center">PF</th>
        <th class="bg-primary text-lg-center">+/-</th>
      </tr>
    </thead>
    <tbody>
      {% for game_log in player.playergamelog_set.all.iterator %}
        <tr>
          <th class="text-lg-center">
            <a class="nounderline dark-grey" href="{{ game_log.game.get_score_page_url }}">{{ game_log.game.game_date }}</a>
          </th>
          <th class="text-lg-center">
            <a class="nounderline" href="{{ game_log.game.get_absolute_url }}">{{ game_log.matchup }}</a>
          </th>
          <td>{{ game_log.result }}</td>
          <td>{{ game_log.minutes }}</td>
          <td>{{ game_log.points }}</td>
          <td>{{ game_log.rebounds }}</td>
          <td>{{ game_log.assists }}</td>
          <td>{{ game_log.fg_made }} - {{ game_log.fg_attempt }}</td>
          <td>{{ game_log.fg_percent|multiply:100 }}</td>
          <td>{{ game_log.fg3_made }} - {{ game_log.fg3_attempt }}</td>
          <td>{{ game_log.fg3_percent|multiply:100 }}</td>
          <td>{{ game_log.ft_made }} - {{ game_log.ft_attempt }}</td>
          <td>{{ game_log.ft_percent|multiply:100 }}</td>
          <td>{{ game_log.offense_reb }}</td>
          <td>{{ game_log.defense_reb }}</td>
          <td>{{ game_log.steals }}</td>
          <td>{{ game_log.blocks }}</td>
          <td>{{ game_log.turnovers }}</td>
          <td>{{ game_log.fouls }}</td>
          <td>{{ game_log.plus_minus }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}