{% extends "layout.html" %}

{% load math_tags %}
{% load util_tags %}

{% block body %}
  <div class="container">
    <br>
    <table class="player-list-table table table-sm">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          <th class="bg-primary text-lg-center">RANK</th>
          <th class="text-lg-center">PLAYER</th>
          <th class="bg-primary text-lg-center">TEAM</th>
          <th class="bg-primary text-lg-center">GP</th>
          <th class="bg-primary text-lg-center">GS</th>
          <th class="bg-primary text-lg-center">MIN</th>
          <th class="bg-primary text-lg-center">PTS</th>
          <th class="bg-primary text-lg-center">REB</th>
          <th class="bg-primary text-lg-center">AST</th>
          <th class="bg-primary text-lg-center">FG</th>
          <th class="bg-primary text-lg-center">FG%</th>
          <th class="bg-primary text-lg-center">3P</th>
          <th class="bg-primary text-lg-center">3P%</th>
          <th class="bg-primary text-lg-center">FT</th>
          <th class="bg-primary text-lg-center">FT%</th>
          <th class="bg-primary text-lg-center">OREB</th>
          <th class="bg-primary text-lg-center">DREB</th>
          <th class="bg-primary text-lg-center">STL</th>
          <th class="bg-primary text-lg-center">BLK</th>
          <th class="bg-primary text-lg-center">TOV</th>
          <th class="bg-primary text-lg-center">PF</th>
        </tr>
      </thead>
      <tbody>
        {% for player in ranked_players %}
          <tr>
            <td class="text-lg-center">{{ player.rank }}</td>
            <th>
              <a class="nounderline" href="{% url 'main:players' player.player_id %}">{{ player.first_name }} {{ player.last_name }}</a>
            </th>
            <th class="text-lg-center">
              <a class="nounderline dark-grey" href="{% url 'main:teams' player.team.team_id %}">{{ player.team.team_abb }} </a>
            </th>
            {% set player_stats = player.get_latest_stats %}
            <td>{{ player_stats.games_played }}</td>
            <td>{{ player_stats.games_started }}</td>
            <td>{{ player_stats.minutes }}</td>
            <td>{{ player_stats.points }}</td>
            <td>{{ player_stats.rebounds }}</td>
            <td>{{ player_stats.assists }}</td>
            <td>{{ player_stats.fg_made }} - {{ player_stats.fg_attempt }}</td>
            <td>{{ player_stats.fg_percent|multiply:100 }}</td>
            <td>{{ player_stats.fg3_made }} - {{ player_stats.fg3_attempt }}</td>
            <td>{{ player_stats.fg3_percent|multiply:100 }}</td>
            <td>{{ player_stats.ft_made }} - {{ player_stats.ft_attempt }}</td>
            <td>{{ player_stats.ft_percent|multiply:100 }}</td>
            <td>{{ player_stats.offense_reb }}</td>
            <td>{{ player_stats.defense_reb }}</td>
            <td>{{ player_stats.steals }}</td>
            <td>{{ player_stats.blocks }}</td>
            <td>{{ player_stats.turnovers }}</td>
            <td>{{ player_stats.fouls }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="player-list-table table table-sm">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          <th class="text-lg-center">PLAYER</th>
          <th class="bg-primary text-lg-center">TEAM</th>
        </tr>
      </thead>
      <tbody>
        {% for player in unranked_players %}
          <tr>
            <th>
              <a class="nounderline" href="{% url 'main:players' player.player_id %}">{{ player.first_name }} {{ player.last_name }}</a>
            </th>
            <th class="text-lg-center">
              <a class="nounderline dark-grey" href="{% url 'main:teams' player.team.team_id %}">{{ player.team.team_abb }} </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}