{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <br>
    <table class="player-vs-player-datatable table table-sm">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          <th class="bg-primary text-lg-center">RANK</th>
          <th class="text-lg-center">PLAYER</th>
          <th class="bg-primary text-lg-center">TEAM</th>
        </tr>
      </thead>
      <tbody>
        {% for player in ranked_players %}
          <tr>
            <td class="text-lg-center">{{ player.rank }}</td>
            <th>
              <a class="nounderline"
                 href="{% url 'main:players' player.player_id %}">{{ player.first_name }} {{ player.last_name }}</a>
            </th>
            <th class="text-lg-center">
              <a class="nounderline dark-grey"
                 href="{% url 'main:teams' player.team.team_id %}">{{ player.team.team_abb }} </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="player-vs-player-datatable table table-sm">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          <th class="text-lg-center">PLAYER</th>
          <th class="bg-primary text-lg-center">TEAM</th>
        </tr>
      </thead>
      <tbody>
        {% for player in unranked_players %}
          <tr>
            <th>
              <a class="nounderline"
                 href="{% url 'main:players' player.player_id %}">{{ player.first_name }} {{ player.last_name }}</a>
            </th>
            <th class="text-lg-center">
              <a class="nounderline dark-grey"
                 href="{% url 'main:teams' player.team.team_id %}">{{ player.team.team_abb }} </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}