{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% load filters %}

{% block body %}
  <div class="container">
    <div class="row">

      <div class="col-lg-5">
        <br>
        <form id="dateform" method="post" class="form-inline text-lg-center">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-lg-2">
              <a href="{% url 'main:score' date|get_date:-1 %}" class="btn btn-primary">
                <i class="fas fa-caret-left" aria-hidden="true"></i>
              </a>
            </div>

            <div class="col-lg-8">
              <input type="text" name="date" id="datepicker" class="form-control form-control-lg" placeholder="&#xf073; &nbsp;{{ date }}">
            </div>
            <div class="col-lg-2">
              <a href="{% url 'main:score' date|get_date:1 %}" class="btn btn-primary btn-md">
                <i class="fas fa-caret-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </form>

        <div class="list-group">
          {% if games %}
            {% for game_id, data in games.items %}
              <a class="score-size nounderline list-group-item" href="{% url 'main:boxscore' game_id %}">
                <div class="row">
                  {% if data.line_score.0.PTS > data.line_score.1.PTS %}
                    <div class="col text-lg-center">
                      <b class="winning-team">
                        {% with 'images/'|add:data.line_score.0.TEAM_ID|add:'.png' as logo_path %}
                          <img class="team-logo" alt="team-logo" src="{% static logo_path %}">
                        {% endwith %}
                        {{ data.line_score.0.TEAM_ABBREVIATION }} {{ data.line_score.0.PTS }}
                      </b>
                      <br>
                      {{ data.line_score.0.TEAM_WINS_LOSSES }}
                    </div>

                    <div class="col text-lg-center">
                      <div class="final-text">Final</div>
                      {% if data.broadcast.NATL_TV_BROADCASTER_ABBREVIATION != None %}
                        <div class="broadcaster">{{ data.broadcast.NATL_TV_BROADCASTER_ABBREVIATION }}</div>
                      {% endif %}
                    </div>

                    <div class="col text-lg-center">
                      {% with 'images/'|add:data.line_score.1.TEAM_ID|add:'.png' as logo_path %}
                        <img class="team-logo" alt="team-logo" src="{% static logo_path %}">
                      {% endwith %}
                      {{ data.line_score.1.TEAM_ABBREVIATION }} {{ data.line_score.1.PTS }}
                      <br>
                      {{ data.line_score.1.TEAM_WINS_LOSSES }}
                    </div>

                  {% else %}
                    <div class="col text-lg-center">
                      {% with 'images/'|add:data.line_score.0.TEAM_ID|add:'.png' as logo_path %}
                        <img class="team-logo" alt="team-logo" src="{% static logo_path %}">
                      {% endwith %}
                      {{ data.line_score.0.TEAM_ABBREVIATION }} {{ data.line_score.0.PTS }}
                      <br>
                      {{ data.line_score.0.TEAM_WINS_LOSSES }}
                    </div>

                    <div class="col text-lg-center">
                      {% if data.broadcast.GAME_STATUS_TEXT == 'Final' %}
                        <div class="final-text">Final</div>
                      {% else %}
                        {% if data.broadcast.LIVE_PERIOD <= 4 %}
                          <div class="final-text">Live Q{{ data.broadcast.LIVE_PERIOD }}</div>
                        {% else %}
                          <div class="final-text">Live OT{{ data.broadcast.LIVE_PERIOD|subtract:4 }}</div>
                        {% endif %}
                      {% endif %}
                      <div class="broadcaster">{{ data.broadcast.NATL_TV_BROADCASTER_ABBREVIATION }}</div>
                    </div>

                    <div class="col text-lg-center">
                      <b class="winning-team">
                        {% with 'images/'|add:data.line_score.1.TEAM_ID|add:'.png' as logo_path %}
                          <img class="team-logo" alt="team-logo" src="{% static logo_path %}">
                        {% endwith %}
                        {{ data.line_score.1.TEAM_ABBREVIATION }} {{ data.line_score.1.PTS }}
                      </b>
                      <br>
                      {{ data.line_score.1.TEAM_WINS_LOSSES }}
                    </div>
                  {% endif %}
                </div>
              </a>
            {% endfor %}

          {% else %}
            <h4 class="text-lg-center">No games scheduled on this date</h4>
            <br>
            <div style="text-align: center">
              <a class="btn btn-primary btn-mds" href="#">Go To Most Recent Game</a>
            </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}