{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <div class="container">
    <div class="row">

      <div class="col-lg-5">
        <br>
        <form id="dateform" method="post" class="form-inline text-lg-center">
          {% csrf_token %}
          <a href="{% url 'main:score' yesterday %}" class="btn btn-primary btn-mds"><i class="fa fa-caret-left" aria-hidden="true"></i></a> &nbsp;
          <label for="datepicker"></label>
          <input type="text" name="date" id="datepicker" class="form-control form-control-lg" placeholder="&#xf073; &nbsp;{{ today_display }}">
          &nbsp; <a href="{% url 'main:score' tomorrow %}" class="btn btn-primary btn-md"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        </form>

        <div class="list-group">
          {% for game in games %}
            <a class="score-size text-xs-center nounderline list-group-item list-group-item-action" href="{% url 'main:boxscore' game.game_id %}">
              <div class="row">
                {% if game.away_team_game_log.result == 'W' %}
                  <div class="col-xs-4">
                    <b class="winning-team">
                      <img class="team-logo" alt="away-logo" src="{% static game.away_team.get_logo_path %}">
                        {{ game.away_team.team_abb }} {{ game.away_team_game_log.points }}
                    </b>away
                    <br>
                    {{ game.away_team_game_log.curr_wins }}-{{ game.away_team_game_log.curr_losses }}
                  </div>

                  <div class="col-xs-4">
                    <div class="final-text">
                      {{ game.STATUS }}
                    </div>
                    <div class="broadcaster">
                      {{ game.BROADCASTER }}
                    </div>
                  </div>

                  <div class="col-xs-4">
                    <img class="team-logo" alt="home-logo" src="{% static game.home_team.get_logo_path %}">
                      {{ game.home_team.team_abb }} {{ game.home_team_game_log.points }}
                    <br>
                    {{ game.home_team_game_log.curr_wins }}-{{ game.home_team_game_log.curr_losses }}
                  </div>

                {% else %}
                  <div class="col-xs-4">
                    <img class="team-logo" alt="away-logo" src="{% static game.away_team.get_logo_path %}">
                      {{ game.away_team.team_abb }} {{ game.away_team_game_log.points }}
                    <br>
                    {{ game.away_team_game_log.curr_wins }}-{{ game.away_team_game_log.curr_losses }}
                  </div>

                  <div class="col-xs-4">
                    <div class="final-text">
                      {{ game.GAME_STATUS_TEXT }}
                    </div>
                    <div class="broadcaster">
                      {{ game.BROADCASTER }}
                    </div>
                  </div>

                  <div class="col-xs-4">
                    <b class="winning-team">
                      <img class="team-logo" alt="home-logo" src="{% static game.home_team.get_logo_path %}">
                        { game.home_team.team_abb }} {{ game.get_home_team_game_log.points }}</b>
                    <br>
                    {{ game.home_team_game_log.curr_wins }}-{{ game.home_team_game_log.curr_losses }}
                  </div>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}