{% extends 'layout.html' %}

{% block title %}Standing{% endblock %}

{% load static %}
{% load tags %}
{% load filters %}

{% block body %}
  <div class="container" id="standings-container">
    <br>
    {% for class, header, conf in headers %}
      <h4>{{ header }}</h4>
      <table class="standings-datatable table table-hover">
        <thead>
          <tr class="{{ class }} text-white">
            <th>RANK</th>
            <th>TEAM</th>
            <th>W</th>
            <th>L</th>
            <th>PCT</th>
            <th>CONF</th>
            <th>HOME</th>
            <th>ROAD</th>
            <th>L10</th>
            <th>STREAK</th>
            <th>PF</th>
            <th>PA</th>
            <th>DIFF</th>
          </tr>
        </thead>
        <tbody>
          {% for team in data %}
            {% if team.Conference == conf %}
              <tr>
                {% if team.PlayoffRank < 9 %}
                  <th>{{ team.PlayoffRank }}</th>
                {% else %}
                  <td>{{ team.PlayoffRank }}</td>
                {% endif %}
                <th>
                  <a class="nounderline grey" href="{% url 'main:teams' team_id=team.TeamID %}">
                    {% with 'images/'|add:team.TeamID|add:'.png' as logo_path %}
                      <img class="team-logo" alt="team-logo" src="{% static logo_path %}">
                    {% endwith %}
                    {{ team.TeamCity }} {{ team.TeamName }}
                  </a>
                </th>
                <td>{{ team.WINS }}</td>
                <td>{{ team.LOSSES }}</td>
                <td>{{ team.WinPCT }}</td>
                <td>{{ team.ConferenceRecord }}</td>
                <td>{{ team.HOME }}</td>
                <td>{{ team.ROAD }}</td>
                <td>{{ team.L10 }}</td>
                {% if team.CurrentStreak > 0 %}
                  <td>Won {{ team.CurrentStreak }}</td>
                {% else %}
                  <td>Lost {{ team.CurrentStreak|multiply:-1 }}</td>
                {% endif %}
                <td>{{ team.PointsPG }}</td>
                <td>{{ team.OppPointsPG }}</td>
                <td>{{ team.DiffPointsPG }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endfor %}
  </div>
{% endblock %}
