{% extends 'layout.html' %}

{% block title %}Standing{% endblock %}

{% load static %}
{% load tags %}

{% block body %}
  <div class="container">
    <br>
    {% for class, header, conf in headers %}
      <h4>{{ header }}</h4>
      <table class="standings-datatable table table-sm">
        <thead>
          <tr class="{{ class }} text-white">
            <th>SEED</th>
            <th>TEAM</th>
            <th>W-L</th>
            <th>WIN%</th>
            <th>Home Record</th>
            <th>Away Record</th>
          </tr>
        </thead>
        <tbody>
          {% for team_standing in standing_list %}
            {% if team_standing.team.team_conf == conf %}
              <tr>
                {% if team_standing.seed < 9 %}
                  <th>{{ team_standing.seed }}</th>
                {% else %}
                  <td>{{ team_standing.seed }}</td>
                {% endif %}
                <th>
                  <a class="nounderline grey" href="{{ team_standing.team.get_absolute_url }}">
                    <img class="team-logo" alt="team-logo" src="{% static team_standing.team.get_logo_path %}">
                    {{ team_standing.team.get_full_name }}
                  </a>
                </th>
                <td class="boxscore-column-width">{{ team_standing.wins }}-{{ team_standing.losses }}</td>
                <td>{{ team_standing.win_percent }}</td>
                <td>{{ team_standing.home_record }}</td>
                <td>{{ team_standing.away_record }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endfor %}
  </div>
{% endblock %}
