{% extends 'layout.html' %}

{% block title %}Team List{% endblock %}

{% load math_tags %}
{% load util_tags %}

{% block body %}
  <div class="container">
    <br>

    <table class="team-list-table table table-sm">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          <th class="text-lg-center">TEAM</th>
          <th class="bg-primary text-lg-center">W-L</th>
          <th class="bg-primary text-lg-center">WIN%</th>
          <th class="bg-primary text-lg-center">PTS</th>
          <th class="bg-primary text-lg-center">REB</th>
          <th class="bg-primary text-lg-center">AST</th>
          <th class="bg-primary text-lg-center">FG</th>
          <th class="bg-primary text-lg-center">FG%</th>
          <th class="bg-primary text-lg-center">3P</th>
          <th class="bg-primary text-lg-center">3P%</th>
          <th class="bg-primary text-lg-center">FT</th>
          <th class="bg-primary text-lg-center">FT%</th>
          <th class="bg-primary text-lg-center">OREB</th>
          <th class="bg-primary text-lg-center">DREB</th>
          <th class="bg-primary text-lg-center">STL</th>
          <th class="bg-primary text-lg-center">BLK</th>
          <th class="bg-primary text-lg-center">TOV</th>
          <th class="bg-primary text-lg-center">PF</th>
        </tr>
      </thead>
      <tbody>
        {% for team in team_list %}
          <tr>
            <th class="text-lg-center">
              <a class="nounderline dark-grey" href="{{ team.get_absolute_url }}">{{ team.team_abb }}</a>
            </th>
            {% set team_stats = team.team_game_log.all.first %}
            <td class="text-lg-center">{{ team.wins }} - {{ team.losses }}</td>
            <td class="text-lg-center">{{ team.wins|divide:82|multiply:100 }}</td>
            <td class="text-lg-center">{{ team_stats.points }}</td>
            <td class="text-lg-center">{{ team_stats.rebounds }}</td>
            <td class="text-lg-center">{{ team_stats.assists }}</td>
            <td class="text-lg-center">{{ team_stats.fg_made }} - {{ team_stats.fg_attempt }}</td>
            <td class="text-lg-center">{{ team_stats.fg_percent|multiply:100 }}</td>
            <td class="text-lg-center">{{ team_stats.fg3_made }} - {{ team_stats.fg3_attempt }}</td>
            <td class="text-lg-center">{{ team_stats.fg3_percent|multiply:100 }}</td>
            <td class="text-lg-center">{{ team_stats.ft_made }} - {{ team_stats.ft_attempt }}</td>
            <td class="text-lg-center">{{ team_stats.ft_percent|multiply:100 }}</td>
            <td class="text-lg-center">{{ team_stats.offense_reb }}</td>
            <td class="text-lg-center">{{ team_stats.defense_reb }}</td>
            <td class="text-lg-center">{{ team_stats.steals }}</td>
            <td class="text-lg-center">{{ team_stats.blocks }}</td>
            <td class="text-lg-center">{{ team_stats.turnovers }}</td>
            <td class="text-lg-center">{{ team_stats.fouls }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}