{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h4>
          {{ summary_info.NAME }}
        </h4>
        <img class="team-logo-lg" alt="team-logo" src="{% static team_logo %}">

        <h4>{{ summary_info.SEASON_YEAR }}</h4>
        <ul class="list-unstyled">
          <li><b>W-L Record:</b> <a href="#">{{ summary_info.WINS }} - {{ summary_info.LOSSES }}</a></li>
          <li><b>{{ summary_info.TEAM_CONF }} Conference:</b> Rank {{ summary_info.CONF_RANK }}</li>
          <li><b>{{ summary_info.TEAM_DIV }} Divison:</b> Rank {{ summary_info.DIV_RANK }}</li>
          <li><b>NBA Debut:</b> {{ summary_info.NBA_DEBUT }}</li>
        </ul>
      </div>
    </div>
    <br>
  </div>
{% endblock %}