{% extends 'layout.html' %}

{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h4>{{ team.get_full_name }}</h4>
        <img class="team-logo-lg" alt="team-logo" src="{% static team_logo %}">

        <h4>{{ team.season_year }}</h4>
        <ul class="list-unstyled">
          <li><b>W-L Record:</b> <a href="#">{{ team.wins }} - {{ team.losses }}</a></li>
          <li><b>{{ team.team_conf }} Conference:</b> Rank {{ team.conf_rank }}</li>
          <li><b>{{ team.team_div }} Divison:</b> Rank {{ team.div_rank }}</li>
          <li><b>NBA Debut:</b> {{ team.nba_debut }}</li>
        </ul>
      </div>
    </div>
    <br>
  </div>
{% endblock %}