{% extends 'team_base.html' %}

{% load filters %}

{% block content %}

  <h4>Current Regular Season</h4>
  <table class="seasons-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-primary text-white">
        <th class="text-lg-center">Team Name</th>
        {% for header in team_stats.keys %}
          <th class="bg-primary text-lg-center">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-lg-center">
          <a class="nounderline" href="#">
            {{ team_info.TEAM_CITY }} {{ team_info.TEAM_NAME }}
          </a>
        </th>
        {% for stat in team_stats.values %}
          <td>{{ stat }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <br>

  <h4>Team Roster</h4>
  <table class="roster-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-primary text-white">
        <th class="text-lg-center">Player</th>
        <th class="bg-danger text-lg-center">Age</th>
        <th class="bg-danger text-lg-center">Birth Date</th>
        <th class="bg-danger text-lg-center">Position</th>
        <th class="bg-danger text-lg-center">Jersey Number</th>
        <th class="bg-danger text-lg-center">Height</th>
        <th class="bg-danger text-lg-center">Weight</th>
        <th class="bg-danger text-lg-center">Experience</th>
        <th class="bg-danger text-lg-center">School</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <th><a class="nounderline" href="{% url 'main:players' player.PLAYER_ID %}">{{ player.PLAYER }}</a></th>
          <td>{{ player.AGE }}</td>
          <td>{{ player.BIRTH_DATE }}</td>
          <td>{{ player.POSITION }}</td>
          <td>{{ player.NUM }}</td>
          <td>{{ player.HEIGHT }}</td>
          <td>{{ player.WEIGHT }}</td>
          <td>{{ player.EXP }}</td>
          <td>{{ player.SCHOOL }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <h4>Team Players Stats</h4>
  <table class="team-player-stats-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-primary text-white">
        {% for header in player_stats.0.keys %}
          {% if header == 'PLAYER_NAME' %}
            <th class="text-lg-center">Player</th>
          {% elif forloop.counter0 > 1 %}
            <th class="bg-primary text-lg-center">{{ header }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for player in player_stats %}
        <tr>
          {% for header, stat in player.items %}
            {% if header == 'PLAYER_NAME' %}
              <th>
                <a class="nounderline" href="{% url 'main:players' player.PLAYER_ID %}">{{ stat }}</a>
              </th>
            {% elif forloop.counter0 > 1 %}
              <td>{{ stat }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <h4>Team Coaches</h4>
  <table class="coach-datatable table table-sm text-lg-center">
    <thead class="thead-inverse">
      <tr class="bg-primary text-white">
        <th class="text-lg-center">Coach</th>
        <th class="bg-danger text-lg-center">Position</th>
      </tr>
    </thead>
    <tbody>
      {% for coach in coaches %}
        <tr>
          <th>{{ coach.COACH_NAME }}</th>
          <td>{{ coach.COACH_TYPE }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}