{% extends 'team_base.html' %}

{% load filters %}

{% block content %}

  <h4>{{ season_type }} Season</h4>
  {% if game_log|length > 0 %}
    <table class="team-games-datatable table table-sm text-lg-center">
      <thead class="thead-inverse">
        <tr class="bg-warning text-white">
          {% for header in game_log.0.keys %}
            {% if header == 'GAME_DATE' %}
              <th class="text-lg-center">DATE</th>
            {% elif header != 'Game_ID' %}
              <th class="bg-primary text-lg-center">{{ header }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for game in game_log %}
          <tr>
            {% for header, stat in game.items %}
              {% if header == 'GAME_DATE' %}
                <th class="text-lg-center">
                  <a class="nounderline dark-grey" href="{% url 'main:score' stat|get_date:0 %}">{{ stat }}</a>
                </th>
              {% elif header == 'MATCHUP' %}
                <th class="text-lg-center">
                  <a class="nounderline" href="{% url 'main:boxscore' game.Game_ID %}">{{ stat }}</a>
                </th>
              {% elif header != 'Game_ID' %}
                <td>{{ stat }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <br/>
    <h5>Team did not play any {{ season_type }} season games.</h5>
  {% endif %}

{% endblock %}
