{% extends 'layout.html' %}

{% block title %}Team List{% endblock %}

{% load filters %}
{% load tags %}

{% block body %}
  <div class="container stats-table-extended">
    <br>

    <table class="team-list-table table table-sm text-lg-center">
      <thead class="thead-inverse">
        <tr class="bg-primary text-white">
          {% for header in data.0.keys %}
            {% if header == 'TEAM_NAME' %}
              <th class="text-lg-center">TEAM</th>
            {% elif forloop.counter0 > 1 %}
              <th class="bg-primary text-lg-center">{{ header }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for team in data %}
          <tr>
            {% for header, stat in team.items %}
              {% if header == 'TEAM_NAME' %}
                <th class="text-lg-center">
                  <a class="nounderline dark-grey" href="{% url 'main:teams' pk=team.TEAM_ID %}">{{ team.TEAM_NAME }}</a>
                </th>
              {% elif forloop.counter0 > 1 %}
                <td>{{ stat }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}