<!DOCTYPE HTML>
<head>
  {% load static %}

  <title>NBA Daily - {% block title %}{% endblock %}</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Fontawesome -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!-- jQuery -->
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="author" content="Larry Shi">
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
</head>

<body>
  <!-- ================================================ -->
  <!-- Navigation Bar                                   -->
  <!-- ================================================ -->
  <nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/"><img class="banner-logo" src="{% static 'images/logo.png' %}" alt="logo">NBA Daily</a>
    <nav class="nav navbar-nav float-xs-left">
      <a class="nav-item nav-link" href="{% url 'main:standing' %}">Standings</a>
      <a class="nav-item nav-link" href="{% url 'main:player_list' %}">Players</a>
      <a class="nav-item nav-link" href="{% url 'main:team_list' %}">Teams</a>
    </nav>
    <form action="#" method="POST" class="float-xs-right">
      <input type="text" name="searchname" class="form-control" placeholder="Search Player or Team...">
    </form>
  </nav><!-- /.navbar -->

  {% block body %}
  {% endblock %}

  {% block pagination %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
          <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% endblock %}

  <!-- ================================================ -->
  <!-- Load Scripts                                     -->
  <!-- ================================================ -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/tether.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- jQuery -->
  <script src="{% static 'js/jquery-ui.js' %}"></script>

  <!-- Bootstrap DataTable -->
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/table_sorting.js' %}"></script>
  <script src="{% static 'js/datePicker.js' %}"></script>
</body>
