{% extends 'layout.html' %}

{% block title %}{{ player_info.DISPLAY_FIRST_LAST }}{% endblock %}

{% load static %}

{% block body %}

  <div class="container stats-table">
    <div class="row">
      <div class="col-lg-6">
        <br>
        <h4>{{ player_info.DISPLAY_FIRST_LAST }} #{{ player_info.JERSEY }} {{ player_info.POSITION }}</h4>
        <h4>
          {% with 'images/'|add:player_info.TEAM_ID|add:'.png' as logo_path %}
            <img class="team-logo-sm" alt="team-logo" src="{% static logo_path %}">
          {% endwith %}
          <a class="nounderline dark-grey" href="{% url 'main:teams' player_info.TEAM_ID %}">
            {{ player_info.TEAM_CITY }} {{ player_info.TEAM_NAME }}
          </a>
        </h4>
        <img class="player-headshot" alt="player-image" src={{ player_info.PHOTO_URL }}>

        <ul class="list-unstyled">
          <li><b>Height:</b> {{ player_info.HEIGHT }}</li>
          <li><b>Weight:</b> {{ player_info.WEIGHT }} lbs</li>
          <li><b>Born:</b> {{ player_info.BIRTHDATE }}</li>
          <li><b>Age:</b> {{ player_info.AGE }}</li>
          <li><b>School:</b> {{ player_info.SCHOOL }}</li>
          <li><b>Country:</b> {{ player_info.COUNTRY }}</li>
          <li><b>NBA Debut:</b> {{ player_info.FROM_YEAR }}</li>
          {% if player_info.draft_round == "Undrafted" %}
            <li><b>Draft:</b> {{ player_info.DRAFT_ROUND }}</li>
          {% else %}
            <li><b>Draft:</b> Round {{ player_info.DRAFT_ROUND }} Number {{ player_info.DRAFT_NUMBER }}</li>
          {% endif %}
          <li><b>Years in NBA:</b> {{ player_info.SEASON_EXP }}</li>
        </ul>
      </div>
    </div>
    <br>
    {% block content %}
    {% endblock %}

  </div>
{% endblock %}