{% extends 'layout.html' %}

{% block title %}{{ team_info.TEAM_CITY }} {{ team_info.TEAM_NAME }}{% endblock %}

{% load static %}
{% load filters %}

{% block body %}
  <div class="container stats-table">
    <div class="row">
      <div class="col-md-6">
        <br>
        <h4>{{ team_info.TEAM_CITY }} {{ team_info.TEAM_NAME }}</h4>
        {% with 'images/'|add:team_info.TEAM_ID|add:'.png' as logo_path %}
          <img class="team-logo-lg" alt="team-logo" src="{% static logo_path %}">
        {% endwith %}

        <h4>{{ team.season_year }}</h4>
        <ul class="list-unstyled">
          <li><b>Record:</b>
            <a href="{% url 'main:standing' %}">{{ team_info.W }}-{{ team_info.L }}</a>
          </li>
          <li><b>Win%:</b> {{ team_info.PCT }}</li>
          <li><b>Conference:</b>
            {{ team_info.TEAM_CONFERENCE }}
            (#{{ team_info.CONF_RANK }} in {{ team_info.TEAM_CONFERENCE }})
          </li>
          <li><b>Divison:</b>
            {{ team_info.TEAM_DIVISION }}
            (#{{ team_info.DIV_RANK|add:1 }} in {{ team_info.TEAM_DIVISION }})
          </li>
          <li><b>NBA Debut:</b> {{ team_info.MIN_YEAR }}</li>
          <li><b>Max Year:</b> {{ team_info.MAX_YEAR }}</li>
        </ul>
      </div>
    </div>
    <br>

    {% block content %}
    {% endblock %}
  </div>
{% endblock %}